*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #FBFBFB;
}
.container{
    width: 85%;
    margin-left: auto;
    margin-right: auto;
/* background-color: aqua; */
}


.btn{
    font-size: 16px;
    font-weight: 600px;
    /* color: FFFFFF; */
    padding: 10px 16px 10px 16px;
    background-color: #469165;
    /* font-color: #FFFFFF; */
    color: #FFFFFF;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    /* border: 0.5px solid #000000; */
}

.btn_white{
    background-color: transparent;
    border: 1px solid #FFFFFF;
    /* color: #469165; */
}
.btn_img{
    /* margin: 0px auto; */
    display: flex;
    align-items:center;
    gap: 5px;
}
.text_center{
    text-align: center;
}
.play{
    margin-right:10px;
}

.button_container{
    display: flex;
    gap: 10px;
    justify-content: center;
    /* margin: 0px auto; */
    /* background-color: aqua; */
}












#nav{
    background-color: #FFFFFF;
}
#nav_content{
    /* height: 92px; */
    justify-content: space-between;
    align-items: center;
    /* padding: 16px 120px 16px 120px; */
    display: flex;
    /* border: 1px solid red; */
}
ul{
    width: 26%;
    display: flex;
    /* align-items: center; */
    gap: 27px;
    list-style: none;
    /* background-color: aqua; */
    
}
ul li{
    font-size: 13px;
    font-weight: 500px;
    color:#000000;
    /* line-height: 152%; */
}

#hero{
    padding-top: 100px;
    padding-bottom: 134px;
    background-image: url("image/hero-bg.png");
    background-size: cover;
}

.label {
    padding: 7px 10px;
    width: 195px;
    border: 1px solid #000000;
    font-size: 13px;
    font-weight: 500px;
    color: #469165;
    background-color: #FFFFFF;
    border-radius: 1000px;
    /* text-align: center; */
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #28a745;
  border-radius: 50%;
  margin-right: 8px;
  box-shadow: 0px 0px 6px rgba(40, 167, 69, 0.6);
}


.heading{
    /* width: 900px; */
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    margin: 14px 0px;
    /* color: #000000; */
    
}
#hero-text{
    line-height: 20.5px;
    font-size: 14px;
    color:#FFFFFF;
    margin:0px auto 27px auto; 
    /* font-color: #FFFFFF; */
    /* width:535px; */
    font-weight: 200;
    /* background-color: turquoise; */
    
}
#heading_white{
    color: #FFFFFF;
    letter-spacing: .5px;
}
#heading_green{
    color:#30B868;
    letter-spacing: .5px;
}

.heading2{
    text-align: center;
    padding-top: 45px;
    margin-bottom: 30px;
}
.heading2 h1{
font-weight: bold;
font-size: 35px;
margin-bottom: 2px;
}
.heading2 p{
    line-height: 18px;
    font-size: 12px;
    color:#627382;
    font-weight:400;
}
.card_box{
    margin-top: 80px;
    display: flex;
    /* width: 85%; */
    /* margin: 0px auto; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    justify-content: space-between;
}
.card_sample{
    width: 274px;
    padding: 22px 22px 30px 22px;
    /* border:1px solid red; */
    text-align: center;

}

.circle-bg {
  width: 58px;   
  height: 58px;
  background-color: #F95555; 
  border-radius: 50%;        
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 20px auto;
}



/* .card_sample img{
    background-color: #F95555;
    border-radius: 50%;
    background-size: cover;
    margin-bottom: 10px;
}   */
.card_sample h3{
    font-weight: 600px;
    color: #001931;
    font-size: 20px;
    margin-bottom: 15px;
}
#no_margin{
    margin-bottom: 0px;
}
.card_sample p{
    font-size: 13px;
    line-height: 19px;
    color: #627382;
    font-weight: 400;
}
#content_container{
    padding-top: 30px;
    padding-bottom: 90px;
    background-color: #FFFFFF;
}
#content{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 17px;
    /* background-color: bisque; */
    align-items: center;
    justify-content: space-between;
}
#content_image img{
    /* border: 1px solid red; */
    width: 500px;
    height: 500px;
}
#content_text{
    /* border: 1px solid red; */
    width: 600px;
    padding-right: 150px;
}
#content_text h5{
    font-weight: 500px;
    color: #30B868;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 10px;
}
#content_text h1{
    font-weight: bold;
    color: #001931;
    font-size: 40px;
    margin-bottom: 20px;
}
#content_text p{
    font-size: 15px;
    line-height: 18px;
    color: #627382;
    font-weight: 400;
    margin-bottom: 20px;
}
.details_sample img p{
    /* display: block; */
}
#content_text .details_sample{
    /* border: 1px solid red; */
    /* background-color: bisque;*/
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-bottom: 10px;
}
#content_text .details_sample p{
    font-size: 14px;
    line-height: 18px;
    color: #001931;
    font-weight: 500;
    margin-bottom: 0px;
}
#Access_container{
    background-color: #FFFFFF;
    /* border: 1px solid red; */
}
#Access{
    background-color: #F7F6F2;
    padding: 75px 35px;
    text-align: center;
    margin-bottom: 110px;
    /* border: 1px solid red; */
}
#Access h1{
    font-weight: bold;
    color: #001931;
    font-size: 40px;
    margin-bottom: 20px;
}
#Access h1{
    font-size: 38px;
    /* line-height: 18px; */
    color: #001931;
    font-weight: bold;
    /* margin-bottom: 20px; */
}
#Access p{
    font-size: 15px;
    color:#627382;
    font-weight:400px;
    line-height: 23px;
    max-width: 575px;
    margin: 0px auto;
    /* margin-bottom: 30px; */
    /* text-align: center; */
}

    /* margin-bottom: 20px; */

#Access .btn{
    margin: 20px auto 10px  auto;
    /* color: #FFFFFF; */
}
#Access  .sp{
    color:#627382;
    font-size: 15px;
    font-weight: 400px;
    line-height: 19px;
    /* max-width: 575px; */
    /* margin: 0px auto 20px auto; */
    /* margin-bottom: 30px; */
    /* text-align: center; */

}
#footer_container{
    background-color: #001931;
    padding: 80px 120px 30px 120px;
    /* padding-bottom: 50px; */
    /* text-align: center; */
}
.footer{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
}
.footer h6{
    font-weight: 400;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 27px;
    /* text-align: right; */
    margin-bottom: 10px;
}
#footer_container p{
    font-weight: 400;
    color: #FAFAFA;
    font-size: 12px;
    line-height: 23px;
    padding-top: 20px; 
    text-align: center;
}
#footer_container .circle-footer {
  width: 20px;   
  height: 20px;
  background-color: #FFFFFF; 
  border-radius: 50%;        
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px auto 20px auto;
}

#footer_container .social{
    display: flex;
    gap: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 0px auto 20px auto; */
}
#footer_container .divider{
    /* margin: 0px auto 20px auto; */
    /* text-align: center; */
    /* font-weight: 10;     */
    margin-top: 85px;
    border: none; 
    /* remove default style */ 
    height: 0.5px; /* thin line */ 
    background-color: #cccccc2a;
    /* margin: 20px 0; */
}
